.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-section{
    margin-left: 50px;
}
.nav-links{
    display: flex;
    gap: 2rem;
    list-style: none;
}
#name{
    font-size: 30px;
    font-weight: 300;
}